body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #000;
    color: #fff;
}

.header-tradicional-container-aud {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 270px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../media/audioAds.png');
    background-repeat: no-repeat;
    background-size: cover;
    mask-image: linear-gradient(black 60%, transparent);
    background-position: center;
}

.tradicional-header-aud {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.tradicional-header-aud h2 {
    font-size: 3.5em;
    line-height: 1.1;
    text-transform: uppercase;
}

.tradicional-header-aud p {
    font-size: 1em;
    line-height: 1.2;
    max-width: 40%;
}

.tradicionales-container-aud {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.mockup-container-audio.mobile {
    width: 25%;
    height: 500px;
    background: url('../../Mockup_Celular.png') no-repeat center center;
    background-size: contain;
    position: relative;
}

.mockup-content-audio.mobile {
    width: 100%;
    height: 95%;
    position: relative;
    overflow-y: scroll;
    top: 3%;
}

.mockup-content-audio.mobile > img {
    width: 75%;
    height: 2000px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -40%);
    top: 100%;
}

/* Desktop Styles */

.mockup-container-audio.desktop {
    width: 50%;
    height: 500px;
    background: url('../../mockup_Desktop.png') no-repeat center center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.mockup-content-audio.desktop {
    width: 75%;
    height: 60%;
    position: relative;
    overflow-y: scroll;
    bottom: 4%;
}

.mockup-content-audio.desktop > img {
    max-width: 100%;
    max-height: 1200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.mockup-content-audio::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}



/* Media queries para pantallas pequeñas */
@media (max-width: 2560px) and (max-height: 1440px) {

    .mockup-container-audio.desktop {
        top: 25%;
    }
    .mockup-container-audio.mobile {
        top: 35%;
    }
     
}

/* Media queries para pantallas medianas */
@media (max-width: 1920px) and (max-height: 1080px) {

    .mockup-container-audio.desktop {
        top: 10%;
    }
    .mockup-container-audio.mobile {
        top: 100px;
    }

    .mockup-container-audio.mobile {
        width: 25%;
        height: 455px;
        background: url('../../Mockup_Celular.png') no-repeat center center;
        background-size: contain;
        position: relative;
        top: 20%;
    }
    
    .mockup-content-audio.mobile {
        width: 100%;
        height: 94%;
        position: relative;
        overflow-y: scroll;
        top: 3%;
    }
    
    .mockup-content-audio.mobile > img {
        width: 70%;
        height: 2000px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -40%);
        top: 100%;
    }
    

}

/* Media queries para pantallas muy pequeñas */
@media (max-width: 1367px) and (max-height: 768px) {

.tradicional-header-aud p {
    max-width: 60%;
}
    
.mockup-container-audio.mobile {
    height: 450px;
    top: 12px;
}

.mockup-content-audio.mobile {
    width: 90%;
    height: 95%;
    top: 3%;
}

.mockup-content-audio.mobile > img {
    width: 76%;
    height: 1800px;
    left: 55%;
}
      
}

