/* Estilos del primer bloque del Main */
.main-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2vh 2vh 2vh 2vh;
}

.box-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-top: 30vh;
}

.main-box > div {
    padding: 0 0 0 20vh;
}

.main-box > div > h1 {
    color: #ffff;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 15vh;
    text-align: start;
    line-height: 0.9;
    max-width: 40vh;
}

.main-box > div > h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.8vh;
    text-align: start;
    color: #913EF5;
    line-height: 2.5;
    width: 80vh;
}

.redirect-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: #ffff;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3vh;
    margin-top: 15vh;
    gap: 5vh;
}

.redirect-box svg {
    transition: transform 0.3s ease;
    opacity: 0.4;
}

.redirect-box:hover svg {
    transform: translateX(10px);
    opacity: 1;
}

.img-box img {
    aspect-ratio: 16/9;
    width: 90vh;
    height: 30vi;
    position: relative;
    margin-top: 20vh;
}