@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #000;
    color: #fff;
}

.header-tradicional-container-rm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../media/Imagenes_Menu/RICHMEDIA.png');
    background-repeat: no-repeat;
    background-size: cover;
    mask-image: linear-gradient(black 60%, transparent);
    background-position: center;
}

.tradicional-header-rm {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.tradicional-header-rm h2 {
    font-size: 7vh;
    line-height: 1.1;
    text-transform: uppercase;
}

.tradicional-header-rm p {
    font-size: 1.7vh;
    line-height: 1.5;
    width: 65vh;
}

.tradicionales-container-rm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-content-rm {
    display: grid;
    grid-template-rows: auto auto auto auto;
    align-items: center;
    justify-items: center;
    padding: 5px;
    width: 100%;
    max-width: 1200px;
    position: relative;
}

.device-options-rm {
    position: fixed;
    top: 55%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.device-options-rm {
    left: 10%;
}

.device-option-rm {
    margin: 5px 0;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    color: gray;
    font-size: 1.2em;
}

.device-option-rm.active {
    color: white;
    font-size: 1.6em;
}

.mockup-content-rm::-webkit-scrollbar {
    display: none;
}

.mockup-container-rm.desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    aspect-ratio: 16/9;
    background: url('../../mockup_Desktop.png') no-repeat center center;
    background-size: contain; 
    position: relative;
}

.mockup-content-rm.desktop {
    width: 72%; 
    height: 80%;
    top: 4%;
    position: absolute;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mockup-content-rm.desktop > img {
    width: 100%;
    height: 98%; 
}