@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #000;
    color: #fff;
}

.header-tradicional-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 270px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../media/Imagenes_Menu/tradicionales.png.png');
    background-repeat: no-repeat;
    background-size: cover;
    mask-image: linear-gradient(black 60%, transparent);
    background-position: center;
}

.tradicional-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.tradicional-header h3 {
    font-size: 3.5em;
    line-height: 1.1;
    text-transform: uppercase;
}

.tradicional-header h2 {
    font-size: 1.2em;
}

.tradicional-header p {
    font-size: 1em;
    line-height: 1.2;
    max-width: 70%;
}

.tradicionales-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-content {
    display: grid;
    grid-template-rows: auto auto auto auto;
    align-items: center;
    justify-items: center;
    padding: 5px;
    width: 100%;
    max-width: 1200px;
    position: relative;
}

.device-options, .format-options {
    position: fixed;
    top: 55%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.device-options {
    left: 10%;
}

.format-options {
    right: 10%;
}

.device-option, .format-option {
    margin: 5px 0;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    color: gray;
}

.device-option.active, .format-option.active, .category-option.active {
    color: white;
    font-size: 1.2em;
}

.category-options {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.category-option {
    background: white;
    color: rgb(105, 102, 102);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 11%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: transform 0.3s ease, background 0.3s ease, color 0.3s ease;
}

.category-option:hover {
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.category-option.active {
    background: linear-gradient(180deg, rgb(125, 30, 213), rgb(184, 134, 202));
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-10px) scale(1.0);
    font-weight: 600;
    font-size: 1.1em;
}

.mockup-content::-webkit-scrollbar {
    display: none;
}

/* Mobile Styles */
.mockup-container.mobile {
    width: 45%;
    height: 600px;
    background: url('../../Mockup_Celular.png') no-repeat center center;
    background-size: contain;
    position: relative;
    top: 15%;
}

.mockup-content.mobile {
    width: 100%;
    height: 95%;
    position: relative;
    overflow-y: scroll;
    top: 3%;
}

.mockup-content.mobile > img {
    width: 50%;
    height: 1200px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -40%);
    top: 5%;
}


/* Desktop Styles */

.mockup-container.desktop {
    width: 65%;
    height: 650px;
    background: url('../../mockup_Desktop.png') no-repeat center center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 15%;
}

.mockup-content.desktop {
    width: 85%;
    height: 57%;
    position: relative;
    overflow-y: scroll;
    bottom: 5%;
}

.mockup-content.desktop > img {
    position: absolute;
    width: 88%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}


.mockup-container.mobile.format4 {
    width: 30%;
    height: 700px;
    background: url('../../Mockup_Celular.png') no-repeat center center;
    background-size: contain;
    position: relative;
}

.mockup-content.mobile.format4 {
    width: 100%;
    height: auto;
    position: relative;
    top: 2%;
  }


.mockup-content.mobile.format4 > img {
    width: 86%;
    height: auto;
    position: relative;
    transform: translate(-50%, 0);
  }

.mockup-container.mobile.format5 {
    width: 30%;
    height: 700px;
    background: url('../../Mockup_Celular.png') no-repeat center center;
    background-size: contain;
    position: relative;
}

.mockup-content.mobile.format5 {
    width: 100%;
    height: auto;
    position: relative;
    top: 3%;
}

.mockup-content.mobile.format5 > img {
    width: 88%;
    height: auto;
    position: relative;
    border-radius: 12px;
    transform: translate(-50%, 0);
}

.mockup-container.mobile.format6 {
    width: 30%;
    height: 700px;
    background: url('../../Mockup_Celular.png') no-repeat center center;
    background-size: contain;
    position: relative;
}

.mockup-content.mobile.format6 {
    width: 99%;
    height: auto;
    position: relative;
}

.mockup-content.mobile.format6 > img {
    position: relative;
    transform: translate(-50%, 0);
    width: 93%;
    height: 660px;
    border-radius: 12px;
}


/* Media queries para pantallas pequeñas */
@media (max-width: 2560px) and (max-height: 1140px) {
    .mockup-container.desktop {
        width: 54%;
        height: 450px;
        top: 80px;
    }

    .mockup-content.desktop {
        width: 100%;
        height: 69%;
    }

    .mockup-content.desktop > img {
        max-height: 1200px;
    }

    .mockup-container.mobile {
        width: 35%;
        height: 500px;
        margin-top: 8%;
    }

    .mockup-content.mobile {
        width: 100%;
        height: 94%
    }

    .mockup-content.mobile > img {
        width: 55%;
        height: 1205px;
    }

    .mockup-container.mobile.format4 {
        width: 20%;
        height: 500px;
        background: url('../../Mockup_Celular.png') no-repeat center center;
        background-size: contain;
        position: relative;
        bottom: 15px;
    }
    
    .mockup-content.mobile.format4 {
        width: 95%;
        height: auto;
        position: relative;
        top: 6%;
        left: 6px;
      }
    
    
    .mockup-content.mobile.format4 > img {
        width: 91%;
        height: auto;
        position: relative;
        transform: translate(-50%, 0);
      }

      .mockup-container.mobile.format5 {
        width: 20%;
        height: 500px;
        background: url('../../Mockup_Celular.png') no-repeat center center;
        background-size: contain;
        position: relative;
        bottom: 15px;
    }
    
    .mockup-content.mobile.format5 {
        width: 95%;
        height: auto;
        position: relative;
        top: 6%;
        left: 6px;
      }
    
    
    .mockup-content.mobile.format5 > img {
        width: 91%;
        height: auto;
        position: relative;
        transform: translate(-50%, 0);
      }
}

/* Media queries para pantallas medianas */
@media (max-width: 1920px) and (max-height: 1080px) {
    .mockup-container.desktop {
        width: 54%;
        height: 450px;
        top: 80px;
    }

    .mockup-content.desktop {
        width: 100%;
        height: 69%;
    }

    .mockup-content.desktop > img {
        max-height: 1200px;
    }

    .mockup-container.mobile {
        width: 35%;
        height: 500px;
        margin-top: 8%;
    }

    .mockup-content.mobile {
        width: 100%;
        height: 94%
    }

    .mockup-content.mobile > img {
        width: 55%;
        height: 1205px;
    }

    .mockup-container.mobile.format4 {
        width: 20%;
        height: 500px;
        background: url('../../Mockup_Celular.png') no-repeat center center;
        background-size: contain;
        position: relative;
        bottom: 15px;
    }
    
    .mockup-content.mobile.format4 {
        width: 95%;
        height: auto;
        position: relative;
        top: 6%;
        left: 6px;
      }
    
    
    .mockup-content.mobile.format4 > img {
        width: 91%;
        height: auto;
        position: relative;
        transform: translate(-50%, 0);
      }

      .mockup-container.mobile.format5 {
        width: 20%;
        height: 500px;
        background: url('../../Mockup_Celular.png') no-repeat center center;
        background-size: contain;
        position: relative;
        bottom: 15px;
    }
    
    .mockup-content.mobile.format5 {
        width: 95%;
        height: auto;
        position: relative;
        top: 6%;
        left: 6px;
      }
    
    
    .mockup-content.mobile.format5 > img {
        width: 91%;
        height: auto;
        position: relative;
        transform: translate(-50%, 0);
      }

}

/* Media queries para pantallas muy pequeñas */
@media (max-width: 1367px) and (max-height: 768px) {
    .mockup-container.desktop {
        width: 54%;
        height: 350px;
        top: 0px;
        margin: 0;
    }

    .mockup-content.desktop {
        width: 70%;
        height: 83%;
        margin: 0;
        bottom: 15px;
    }

    .mockup-content.desktop > img {
        max-height: 1200px;
    }

    .mockup-container.mobile {
        width: 35%;
        height: 351px;
        margin-top: 0%;
    }

    .mockup-content.mobile {
        width: 70%;
        height: 94%;
        left: 63px;
    }

    .mockup-content.mobile > img {
        width: 55%;
        height: 1205px;
        border-radius: 12px;
    }

    .mockup-container.mobile.format4 {
        width: 20%;
        height: 351px;
        background: url('../../Mockup_Celular.png') no-repeat center center;
        background-size: contain;
        position: relative;
        bottom: 15px;
    }
    
    .mockup-content.mobile.format4 {
        width: 95%;
        height: auto;
        position: relative;
        top: 10px;
      }
    
    
    .mockup-content.mobile.format4 > img {
        width: 68%;
        height: 331px;
        position: relative;
        transform: translate(-50%, 0);
      }

      .mockup-container.mobile.format5 {
        width: 20%;
        height: 500px;
        background: url('../../Mockup_Celular.png') no-repeat center center;
        background-size: contain;
        position: relative;
        bottom: 15px;
    }
    
    .mockup-content.mobile.format5 {
        width: 95%;
        height: auto;
        position: relative;
        top: 6%;
        left: 6px;
      }
    
    
    .mockup-content.mobile.format5 > img {
        width: 91%;
        height: auto;
        position: relative;
        transform: translate(-50%, 0);
      }
}