body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #000;
    color: #fff;
}

.header-tradicional-container-vid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 270px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../media/videoAds.png');
    background-repeat: no-repeat;
    background-size: cover;
    mask-image: linear-gradient(black 60%, transparent);
    background-position: center;
}

.tradicional-header-vid {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.tradicional-header-vid h3 {
    font-size: 3.5em;
    line-height: 1.1;
    text-transform: uppercase;
}

.tradicional-header-vid h2 {
    font-size: 1.2em;
}

.tradicional-header-vid p {
    font-size: 1em;
    line-height: 1.2;
    max-width: 40%;
}

.tradicionales-container-vid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 2560px) and (max-height: 1440px) {
    .mockup-container-vid.desktop {
        width: 50%;
        height: 500px;
        background: url('../../mockup_Desktop.png') no-repeat center center;
        background-size: contain;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 25%;
    }
    
    .mockup-content-vid.desktop {
        width: 75%;
        height: 60%;
        position: relative;
        overflow-y: scroll;
        bottom: 4%;
    }

    .mockup-content-vid.desktop img {
        max-width: 100%;
        max-height: 1200px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
    }

    .mockup-container-vid.mobile {
        width: 45%;
        height: 450px;
        background: url('../../Mockup_Celular.png') no-repeat center center;
        background-size: contain;
        position: relative;
        top: 45%;
    }
    
    .mockup-content-vid.mobile {
        width: 100%;
        height: 95%;
        position: relative;
        overflow-y: scroll;
        top: 3%;
    }

    .mockup-content-vid.mobile img {
        width: 37%;
        height: 1500px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -40%);
        top: 100%;
    }

    ::-webkit-scrollbar {
        display: none;
      }
}


@media (max-width: 3840px) and (max-height: 2160px) {
    .mockup-container-vid.desktop {
        width: 50%;
        height: 500px;
        background: url('../../mockup_Desktop.png') no-repeat center center;
        background-size: contain;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 130%;
    }
    
    .mockup-content-vid.desktop {
        width: 75%;
        height: 60%;
        position: relative;
        overflow-y: scroll;
        bottom: 4%;
    }

    .mockup-content-vid.desktop img {
        max-width: 100%;
        max-height: 1200px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
    }

    .mockup-container-vid.mobile {
        width: 45%;
        height: 450px;
        background: url('../../Mockup_Celular.png') no-repeat center center;
        background-size: contain;
        position: relative;
        top: 5%;
    }
    
    .mockup-content-vid.mobile {
        width: 100%;
        height: 95%;
        position: relative;
        overflow-y: scroll;
        top: 3%;
    }

    .mockup-content-vid.mobile img {
        width: 37%;
        height: 1500px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -40%);
        top: 100%;
    }

    ::-webkit-scrollbar {
        display: none;
      }
}

@media (max-width: 2560px) and (max-height: 1440px) {
    .mockup-container-vid.desktop {
        top: 55%;
    }
}

@media (max-width: 1920px) and (max-height: 1080px) {
    .mockup-container-vid.desktop {
        width: 50%;
        height: 500px;
        background: url('../../mockup_Desktop.png') no-repeat center center;
        background-size: contain;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 5%;
    }
    
    .mockup-content-vid.desktop {
        width: 75%;
        height: 60%;
        position: relative;
        overflow-y: scroll;
        bottom: 4%;
    }

    .mockup-content-vid.desktop img {
        max-width: 100%;
        max-height: 1200px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
    }

    .mockup-container-vid.mobile {
        width: 45%;
        height: 450px;
        background: url('../../Mockup_Celular.png') no-repeat center center;
        background-size: contain;
        position: relative;
        top: 5%;
    }
    
    .mockup-content-vid.mobile {
        width: 100%;
        height: 95%;
        position: relative;
        overflow-y: scroll;
        top: 3%;
    }

    .mockup-content-vid.mobile img {
        width: 37%;
        height: 1500px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -40%);
        top: 100%;
    }

    ::-webkit-scrollbar {
        display: none;
      }
}

@media (max-width: 1366px) and (max-height: 768px) {
    .mockup-container-vid.desktop {
        width: 30%;
        height: 400px;
        background: url('../../mockup_Desktop.png') no-repeat center center;
        background-size: contain;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 5%;
    }
    
    .mockup-content-vid.desktop {
        width: 75%;
        height: 43%;
        position: relative;
        overflow-y: scroll;
        bottom: 4%;
    }

    .mockup-content-vid.desktop img {
        max-width: 100%;
        max-height: 1200px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
    }

    .mockup-container-vid.mobile {
        width: 30%;
        height: 300px;
        background: url('../../Mockup_Celular.png') no-repeat center center;
        background-size: contain;
        position: relative;
        top: 5%;
    }
    
    .mockup-content-vid.mobile {
        width: 100%;
        height: 95%;
        position: relative;
        overflow-y: scroll;
        top: 3%;
    }

    .mockup-content-vid.mobile img {
        width: 37%;
        height: 800px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -40%);
        top: 100%;
    }

    ::-webkit-scrollbar {
        display: none;
      }

      .tradicional-header-vid h3 {
        font-size: 2.5em;
        line-height: 0.7;
        text-transform: uppercase;
    }
    
    .tradicional-header-vid h2 {
        font-size: 1em;
    }
    
    .tradicional-header-vid p {
        font-size: 1em;
        line-height: 1.2em;
        max-width: 70%;
    }
}

@media (max-width: 1800px) and (max-height: 850px) {
    .mockup-container-vid.desktop {
        width: 30%;
        height: 400px;
        background: url('../../mockup_Desktop.png') no-repeat center center;
        background-size: contain;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -10%;
    }
    
    .mockup-content-vid.desktop {
        width: 75%;
        height: 43%;
        position: relative;
        overflow-y: scroll;
        bottom: 4%;
    }

    .mockup-content-vid.desktop img {
        max-width: 100%;
        max-height: 1200px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
    }

    .mockup-container-vid.mobile {
        width: 30%;
        height: 300px;
        background: url('../../Mockup_Celular.png') no-repeat center center;
        background-size: contain;
        position: relative;
        top: 5%;
    }
    
    .mockup-content-vid.mobile {
        width: 100%;
        height: 95%;
        position: relative;
        overflow-y: scroll;
        top: 3%;
    }

    .mockup-content-vid.mobile img {
        width: 37%;
        height: 800px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -40%);
        top: 100%;
    }

    ::-webkit-scrollbar {
        display: none;
      }

      .tradicional-header-vid h3 {
        font-size: 2.5em;
        line-height: 0.7;
        text-transform: uppercase;
    }
    
    .tradicional-header-vid h2 {
        font-size: 1em;
    }
    
    .tradicional-header-vid p {
        font-size: 1em;
        line-height: 1.2em;
        max-width: 70%;
    }
}