body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #000;
    color: #fff;
}

.header-tradicional-container-vid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 270px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../media/videoAds.png');
    background-repeat: no-repeat;
    background-size: cover;
    mask-image: linear-gradient(black 60%, transparent);
    background-position: center;
}

.tradicional-header-vid {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.tradicional-header-vid h3 {
    font-size: 3.5em;
    line-height: 1.1;
    text-transform: uppercase;
}

.tradicional-header-vid h2 {
    font-size: 1.2em;
}

.tradicional-header-vid p {
    font-size: 1em;
    line-height: 1.2;
    max-width: 40%;
}

.tradicionales-container-vid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

